  .art {
    text-align: center;
    font-size: large;
  }

  .gallery {
    padding: 10px auto;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .desc {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    padding: 10px auto;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }