
  }

  .art {
    text-align: center;
    font-size: large;
  }

  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
    @media (max-width: 1200px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 300px;
    }
    }
    
    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }
